<section class="artistpage">
  <div class="search">
  	<h1>Floors</h1>
  	<label>{{buildingInfo[0].buildingName}}</label>
  	<table class="table">
	<tr>
		<th>Floor
		</th>
		<th>Address
		</th>
		<th class="alignCenter" colspan="2">
			Actions
		</th>
		
	</tr>
	<tr ng-repeat="floor in floorDetails">
		<td class="locationName"> 
			<div ng-hide="floor.isEditing"> {{floor.floorName}} </div>
			<input ng-show="floor.isEditing" ng-model="floor.floorName"/> 
		</td>
		<td> 
			<div ng-hide="floor.isEditing">  {{floor.address}} </div>
			<input ng-show="floor.isEditing" ng-model="floor.address"/> 
		</td>
		<td>
		<input type="button" value="Delete" class="btn btn-table" ng-click="removeRow(floor.floorId)"/>
		</td>
		<td>
		<input type="button" value="{{floor.isEditing ? 'done' : 'edit'}}" class="btn btn-table" ng-click="editLocation($index)"/>
		</td>
	</tr>
</table>
  </div>
</section>