<section class="artistpage">
  <div class="search">
  	<h1>Floors</h1>
  	<label>{{buildingInfo[0].buildingName}}</label>
  	<button class="btn h-marginBottom h-blockButton" ng-click="addFloor(); $event.stopPropagation();">Add floor</button>
  	<table class="table">
	<tr>
		<th>Floor
		</th>
		<th>Address
		</th>
		<th class="alignCenter" colspan="2">
			Actions
		</th>
		
	</tr>
	<tr ng-click="clickFloor(floor)" class="datarows" ng-repeat="floor in pocData.floorData" ng-if="floor.locId == locationId">
		<td class="locationName"> 
			<div ng-hide="floor.isEditing"> {{floor.floorName}} </div>
			<input ng-show="floor.isEditing" ng-click="$event.stopPropagation();"  ng-model="floor.floorName"/> 
		</td>
		<td> 
			<div ng-hide="floor.isEditing">  {{floor.address}} </div>
			<input ng-show="floor.isEditing" ng-click="$event.stopPropagation();" ng-model="floor.address"/> 
		</td>
		<td>
		<input type="button" value="Delete" class="btn btn-table" ng-click="removeRow(floor.floorId); $event.stopPropagation();"/>
		</td>
		<td>
		<input type="button" value="{{floor.isEditing ? 'done' : 'edit'}}" class="btn btn-table" ng-click="editFloor(floor.floorId); $event.stopPropagation();"/>
		</td>
	</tr>
</table>
	<br/>
	<button class="btn" ng-click="returnToBuildings()">Return to Buildings</button>
	</div>
</section>