<section class="samplepage">
  <div class="search">
    <h1>Order Items</h1>
  </div>
  <ul class="itemlist">
    <li ng-show="pocData.resultItems.length!=0" class="searchItem cf" ng-repeat="item in pocData.resultItems">
      <a ng-click="itemClick(item.itemId); $event.preventDefault();">
        <img ng-src="images/{{item.image}}.jpg" alt="Photo of {{item.itemName}}">
        <div class="info">
          <h2>{{item.itemName}}</h2>
          <h3 class="itemDescription">{{item.itemDescription}}</h3>
        </div>
        <div class="qty">
          <label>Quantity</label>
          <select>
            <option value="0">Select</option>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </a>
    </li>
    <li ng-show="pocData.resultItems.length==0">
    <div> There are no items that match your selection. Please try a different search. </div>
    </li>
    <li class="cf buttonContainer">
      <button ng-show="pocData.resultItems.length!=0" class="btn h-displayInline h-blockButton" ng-click="placeOrder(); $event.stopPropagation();">Order</button>
<button class="btn h-displayInline h-blockButton" ng-click="backToFilters(); $event.stopPropagation();">Back</button>
    </li>
  </ul>  
</section>