<section class="samplepage">
  <div class="search">
  	<h1>Level Five</h1>
  	<label>{{levelFourInfo[0].levelFourName}}</label>
  	<button class="btn h-marginBottom h-blockButton" ng-click="addLevelFive(); $event.stopPropagation();">Add item</button>
  	<div class="bar">
    	 <input type="text" class="h-padding" ng-model="searchLevel5" placeholder="Search for level" />
     </div>
      <div ng-show="error" class="errorMsg"><span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp; {{ error }} 
    </div>
  	<table class="table">
	<tr>
		<th>Title
		</th>
		<th>Address
		</th>
		<th class="alignCenter" colspan="2">
			Actions
		</th>
		
	</tr>
	<tr class="datarows" ng-repeat="item in pocData.levelFiveData | searchFor : searchLevel5 : 'searchLevelFive'" ng-if="item.levelFourId == levelFourId">
		<td class="locationName"> 
			<div ng-hide="item.isEditing"> {{item.levelFiveName}} </div>
			<input ng-show="item.isEditing" ng-click="$event.stopPropagation();"  ng-model="item.levelFiveName"/> 
		</td>
		<td> 
			<div ng-hide="item.isEditing">  {{item.levelFiveAddress}} </div>
			<input ng-show="item.isEditing" ng-click="$event.stopPropagation();" ng-model="item.levelFiveAddress"/> 
		</td>
		<td>
		<input type="button" value="Delete" class="btn btn-table" ng-click="removeRow($index); $event.stopPropagation();"/>
		</td>
		<td>
		<input type="button" value="{{item.isEditing ? 'done' : 'edit'}}" class="btn btn-table" ng-click="editItem($index); $event.stopPropagation();"/>
		</td>
	</tr>
</table>
	<br/>
	<button class="btn" ng-click="returnToLevelFour()">Return to Level Four</button>
	</div>
</section>