<section class="artistpage">
  <div class="search">
  	<h1>Buildings</h1>
  	<button class="btn h-marginBottom" ng-click="addBuilding(); $event.stopPropagation();">Add building</button>
  	<table class="table">
	<tr>
		<th>Building
		</th>
		<th>Address
		</th>
		<th class="alignCenter" colspan="2">
			Actions
		</th>
		
	</tr>
	
	<tr ng-click = "clickBuilding(location)" ng-repeat="location in pocData.locationData">
		
		<td class="locationName"> 
			<div ng-hide="location.isEditing"> {{location.buildingName}} </div>
			<input ng-show="location.isEditing" ng-model="location.buildingName" ng-click="$event.stopPropagation();"/> 
		</td>
		<td> 
			<div ng-hide="location.isEditing">  {{location.address}} </div>
			<input ng-show="location.isEditing" ng-model="location.address" ng-click="$event.stopPropagation();"/> 
		</td>
		<td>
		<input type="button" value="Delete" class="btn btn-table" ng-click="removeRow(location.locId); $event.stopPropagation();"/>
		</td>
		<td>
		<input type="button" value="{{location.isEditing ? 'done' : 'edit'}}" class="btn btn-table" ng-click="editLocation($index); $event.stopPropagation();"/>
		</td>
			
	</tr>


</table>
  </div>
</section>