<section class="artistpage">
	<div class="search ">
		<div class="leftNavigation"  ng-init="filterType='value1'">
			<div class="inputContainer"  ng-class="{ inputSelected : filterType == 'value1'  }">
				<input id="ac-1"  value="value1" ng-model="filterType" type="radio" />
				<label for="ac-1">Filters</label>
			</div>
			<div class="inputContainer" ng-class="{ inputSelected : filterType == 'value2' }">
				<input id="ac-2"  value="value2" ng-model="filterType" type="radio" />
				<label for="ac-2">Additional Filters</label>
		
			</div>
			
		</div>
		<div class="filterContent cf">
		
		<div ng-show="filterType == 'value1'">
		<div class="h-marginTopBottom formRow"> 
	  		<label for="containerId">Container Id</label>
			<input ng-model="containerId" id="containerId" placeholder = "Container Id" type="text"></input>
		</div>	

		<div class="h-marginTopBottom formRow"> 
	  		<label for="sampleId">Sample Id</label>
			<input ng-model="sampleId" id="sampleId" placeholder = "Sample Id" type="text"></input>
		</div>

		<div class="h-marginTopBottom formRow"> 
	  		<label for="tcin">TCIN</label>
			<input ng-model="tcin" id="tcin" placeholder = "TCIN" type="text"></input>
		</div>

		<div class="h-marginTopBottom formRow"> 
	  		<label for="dpci">DPCI</label>
			<input ng-model="dpci" id="dpci" placeholder = "DPCI" type="text"></input>
		</div>

			

		<div class="h-marginTopBottom formRow">
			<label for="dept">Department</label>
	  		<select id="dept" ng-model="dept" class="searchDropdown">    
	  			<option class="select" value="Any department">Any department</option>
				<option value="001 Storage and Organization" class="select">001 Storage and Organization</option>
				<option value="002 Household Cleaning" class="select">002 Household Cleaning</option>
				<option value="003 Baby Care" class="select">003 Baby Care</option>
			</select>
		</div>
	</div>

<div ng-show="filterType == 'value2'">
	<div class="h-marginTopBottom formRow"> 
	  		<label for="vendorId">Vendor Id</label>
			<input ng-model="filterObj.vendorId" id="vendorId" placeholder = "Vendor Id" type="text"></input>
		</div>	

		<div class="h-marginTopBottom formRow"> 
	  		<label for="trackingNo">Tracking #</label>
			<input ng-model="filterObj.trackingNo" id="trackingNo"  placeholder = "Tracking #" type="text"></input>
		</div>

		<div class="h-marginTopBottom formRow"> 
	  		<label for="trackingLocation">Tracking Loc</label>
			<input ng-model="filterObj.trackingLocation" id="trackingLocation"  placeholder = "Tracking Location" type="text"></input>
		</div>

		<div class="h-marginTopBottom formRow"> 
	  		<label for="brand">Brand</label>
			<input ng-model="filterObj.brand" id="brand" placeholder = "Brand" type="text"></input>
		</div>

			

		<div class="h-marginTopBottom formRow">
			<label for="projectStatus">Project Status</label>
	  		<select id="projectStatus" ng-model="filterObj.projectStatus" class="searchDropdown">    
	  			<option class="select" value="Select">Select</option>
				<option value="Complete" class="select">Complete</option>
				<option value="Incomplete" class="select">Incomplete</option>
			</select>
		</div>
</div>


  	</div>
  	<div class="cf buttonContainer">
<button class="btn h-displayInline h-blockButton" ng-click="submitFilters(); $event.stopPropagation();">Submit</button>
<button class="btn h-displayInline h-blockButton" ng-click="clearFilters(); $event.stopPropagation();">Clear</button>
		</div>
	</div>
	<div class="cf"></div>
</section>