<section class="samplepage">
  <div class="search">
  	<h1>Order Item</h1>
  	<div role="alert">
  		<div class="errorMsg" ng-show="myForm.VendorId.$error.pattern">
        <span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp;Vendor ID is a 5 digit numeric value!</div>
  		<div class="errorMsg" ng-show="myForm.containerVal.$error.pattern">
        <span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp;Container ID is a single numeric value!</div>
         <div class="errorMsg" ng-show="myForm.sampleVal.$error.maxlength">
        <span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp;Sample ID has a maxlength of 7!</div>
        <div class="errorMsg" ng-show="myForm.tcinVal.$error.pattern">
        <span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp;TCIN is a numeric value with maxlength of 12!</div>
        <div class="errorMsg" ng-show="myForm.dpciVal.$error.maxlength || myForm.dpciVal.$error.minlength || myForm.dpciVal.$error.pattern">
        <span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp;DPCI is numeric and of the format XXX-XX-XXXX</div>
      </div>
  		More filters <span class="formgroup"> <input placeholder="Search for filters" ng-model="searchFilter" type="text"></input> </span>
  	<br/><br/>
  	<div class="mainContainer">
  	<form name="myForm">
  		<ul ng-show="searchFilter" class="table">
			
			<li class="h-marginTopBottom" ng-repeat="filter in filterList | searchFilters : searchFilter : this">
			<a href="" ng-show="filterValue || filter.options.selectedOption.value=='Complete' || filter.options.selectedOption.value=='Incomplete'" ng-click="addFilter(filterValue, filter.options.selectedOption.value, filter.val, this); $event.stopPropagation();" class="applyFilter"> + </a>
		
			<label for="{{filter.filterName}}">{{filter.filterName | capitalize}}</label>
			<input id="{{filter.filterName}}" name="{{filter.filterName}}" ng-show="filter.filterType == 'input'" ng-model="filterValue" data-val="{{filter.val}}" class="h-rightInput" placeholder = "{{filter.filterName}}" type="{{filter.filterType}}" add-pattern></input>

			<select id="{{filter.filterName}}" ng-show="filter.filterType == 'select'" ng-model="filter.options.selectedOption"
			ng-options = "option.value for option in filter.options.availableOptions track by option.key" class="h-rightInput searchDropdown" ng-style="dropdownBgColor">    
			</select>   
			</select>
			</li>	
		</ul>
		<div class="h-marginTopBottom"> 
	  		<label for="containerId">Container Id</label>
			<input ng-model="containerId" id="containerId" name="containerVal" class="h-rightInput" placeholder = "Container Id" type="text"
			ng-pattern="/^\d{1}$/"></input>
		</div>	

		<div class="h-marginTopBottom"> 
	  		<label for="sampleId">Sample Id</label>
			<input ng-model="sampleId" id="sampleId" class="h-rightInput" name="sampleVal" placeholder = "Sample Id" type="text" ng-maxlength="7">
			</input>
		</div>

		<div class="h-marginTopBottom"> 
	  		<label for="tcin" style="text-align:right">TCIN</label>
			<input ng-model="tcin" id="tcin" name="tcinVal" class="h-rightInput" placeholder = "TCIN" type="text"
				ng-pattern="/^\d{1,12}$/"></input>
		</div>

		<div class="h-marginTopBottom"> 
	  		<label for="dpci">DPCI</label>
			<input ng-model="dpci" id="dpci" name="dpciVal" class="h-rightInput" placeholder = "DPCI" type="text" ng-minlength="11" ng-maxlength="11" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/"></input>
		</div>

			

		<div class="h-marginTopBottom">
			<label for="dept">Department</label>
	  		<select id="dept" ng-model="dept" class="h-rightInput searchDropdown">    
	  			<option class="select" value="Any department">Any department</option>
				<option value="001 Storage and Organization" class="select">001 Storage and Organization</option>
				<option value="002 Household Cleaning" class="select">002 Household Cleaning</option>
				<option value="003 Baby Care" class="select">003 Baby Care</option>
			</select>
		</div>
  	</div>
  	<ul>
  			<li ng-repeat="filter in addedFilters" class="h-relative">
  				<span style="margin-left : 20px">
  				<a href="" ng-click="removeFilter($index); $event.preventDefault();" class="removeFilter">X</a> 
  			<span class="elipsisSpan">
  					<span class="fontBold indentMoreFilterResults">{{filter.filterName}}</span> is <span class="fontBold">{{filter.filterValue}}</span></span>
  					</span>
  			</li>
  		</ul>
		  </form>
  	<div class="cf buttonContainer">
<button class="btn h-displayInline" ng-click="submitFilters(); $event.stopPropagation();" ng-disabled="!myForm.$valid">Submit</button>
<button class="btn h-displayInline" ng-click="clearFilters(); $event.stopPropagation();">Clear</button>
  </div>
  </div>
</section>