<section class="artistpage">
  <div class="search">
  	<h1>Order Item</h1>
  	<div class="leftNav">
  		<p>Filters added</p>
  	</div>
  	<div class="mainContainer">
  		<input placeholder="Search for filters" ng-model="searchFilter" type="text"></input>
		<ul ng-show="searchFilter" class="table">
			

			<li class="h-marginTopBottom" ng-repeat="filter in filterList | searchFilters : searchFilter : this">
		
		 <label for="{{filter.filterName}}" class="h-margin-right">{{filter.filterName | capitalize}}</label>
			<input id="{{filter.filterName}}" class="listInput" placeholder = "{{filter.filterName}}" type="{{filter.filterType}}"></input>

			<input type="button" value="add filter" class="listInputButton" /> 
		</li>
		
		
		</ul>
	

		
		<div class="h-marginTopBottom"> 
	  		<label for="tcin">TCIN</label>
			<input id="tcin" class="h-rightInput" placeholder = "TCIN" type="text"></input>
		</div>  		

		<div class="h-marginTopBottom">
			<label for="deptt">Dept</label>
	  		<select class="h-rightInput searchDropdown">
	  			<option class="select" val="" selected>Select</option>
				<option val="" class="select">Test1</option>
				<option val="" class="select">Test2</option>
			</select>
		</div>

  	</div>
  	<div class="cf buttonContainer">
<button class="btn h-displayInline h-blockButton" ng-click="addFloor(); $event.stopPropagation();">Submit</button>
<button class="btn h-displayInline h-blockButton" ng-click="addFloor(); $event.stopPropagation();">Clear</button>
  		</ div>
  </div>
</section>