<section>
  <div class="search">
  	<h1>Rooms</h1>
  	<label>{{floorInfo[0].floorName}}</label>
  	<button class="btn h-marginBottom h-blockButton" ng-click="addRoom(); $event.stopPropagation();">Add room</button>
  	<div class="bar">
    	 <input type="text" class="h-padding" ng-model="searchRoom" placeholder="Search for room" />
     </div>
      <div ng-show="error" class="errorMsg"><span><img src="images/error.png" height="15" width="15"/></span>&nbsp;&nbsp; {{ error }} 
    </div>
  	<table class="table">
	<tr>
		<th>Room
		</th>
		<th>Address
		</th>
		<th class="alignCenter" colspan="2">
			Actions
		</th>
		
	</tr>
	<tr class="datarows" ng-click="clickRoom(room)" ng-repeat="room in pocData.roomData | searchFor:searchRoom:'rooms'" ng-if="room.floorId == floorId">
		<td class="roomName"> 
			<div ng-hide="room.isEditing"> {{room.roomName}} </div>
			<input ng-show="room.isEditing" ng-click="$event.stopPropagation();" ng-model="room.roomName"/> 
		</td>
		<td> 
			<div ng-hide="room.isEditing">  {{room.address}} </div>
			<input ng-show="room.isEditing" ng-click="$event.stopPropagation();" ng-model="room.address"/> 
		</td>
		<td>
		<input type="button" value="Delete" class="btn btn-table" ng-click="removeRow($index); $event.stopPropagation();"/>
		</td>
		<td>
		<input type="button" value="{{room.isEditing ? 'done' : 'edit'}}" class="btn btn-table" ng-click="editRoom($index); $event.stopPropagation();"/>
		</td>
	</tr>
	</table>
	<br/>
	<button class="btn" ng-click="returnToFloors()">Return to Floors</button>
	</div>
	</section>